git init tensorflowdolbak
cd tensorflowdolbak
git config core.sparseCheckout true
git remote add -f origin https://github.com/tensorflow/examples.git
echo lite/examples/image_classification/android > .git/info/sparse-checkout
git pull origin master
